.cities{
    width: 987px;
    margin: 0 auto;
}

.cities__list{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media screen and (min-width: 768px) and (max-width: 1280px){
    .cities{
        width: 720px;
        margin: 0 auto;
    }
    .cities__list{
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    /* Agrega tus estilos específicos para pantallas de 321px a 768px aquí */
}